body {
  @media (max-width: 1999px){
    font-size: calc(0.45em + 1vmin);
  }
  @media (max-width: 1536px){
    font-size: calc(0.55em + 1vmin);
  }
  @media (max-width: 1280px){
    font-size: calc(0.6em + 1vmin);
  }
  @media (max-width: 1024px){
    font-size: calc(0.6em + 1vmin);
  }
  @media (max-width: 768px){
    font-size: calc(0.8em + 1vmin);
  }
  @media (max-width: 640px){
    font-size: calc(0.7em + 1vmin);
  }
  @media (min-width: 2000px) {
    font-size: calc(0.4em + 1vmin);
  }
}

b {
  font-size: 3em;
  position: relative;
  color: black;
  z-index: 2;
  padding: 0.2em;
  text-align: center;

  @media (max-width: 280px) {
    font-size: 2em;
  }
}

.body-text {
  color: black;
  padding-top: 2.5vh;
}

.rounded-left {
  border-radius: 25px 0px 0px 25px;
}
.rounded-right {
  border-radius: 0px 25px 25px 0px;
}

.content-width {
  @media (max-width: 1999px){
     padding: 0 12rem;
  }
  @media (max-width: 1536px){
     padding: 0 8rem;
  }
  @media (max-width: 1280px){
     padding: 0 6rem;
  }
  @media (max-width: 1024px){
     padding: 0 4rem;
  }
  @media (max-width: 768px){
     padding: 0 2rem;
  }
  @media (max-width: 640px){
     padding: 0 1rem;
  }
  @media (min-width: 2000px) {
     padding: 0 16rem;
  }

  padding: 0 6rem;
}

.dark-side {
  background-color: black;
  color: white;
  border-radius: 25px;
  max-width: 100%;
}

.standard-shadow {
  box-shadow: 6px 10px 15px -3px rgba(0, 0, 0, 0.1);
}