@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-off-white {
    background-color: #eff3fa;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  --color-3: #ffb625;
  --color-2: #0d5bd8;
  --color-1: #fd4715;
  --color-text: #000000;
}

@font-face {
  font-family: geo-medium;
  src: url('./assets/fonts/geomanist-medium-webfont.ttf');
}

@font-face {
  font-family: raleway;
  src: url('./assets/fonts/Raleway-VariableFont_wght.ttf');
}

@font-face {
  font-family: modak;
  src: url('./assets/fonts/Modak-Regular.ttf');
}

@font-face {
  font-family: geo-light;
  src: url('./assets/fonts/geomanist-light-webfont.ttf');
}

@font-face {
  font-family: alata;
  src: url('./assets/fonts/Alata-Regular.ttf');
}

@font-face {
  font-family: roboto-slab;
  src: url('./assets/fonts/RobotoSlab-VariableFont_wght.ttf');
}

.modak {
  font-family: modak;
}

.alata {
  font-family: alata;
}

.raleway {
  font-family: raleway;
}

.roboto-slab {
  font-family: roboto-slab
}

.hideNav {
  top: -100% !important;
}


.img {
  height: auto;
  max-width: 100%;
}

.img-col {
  max-height: 100%;
  width: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
b {
  font-family: alata;
  margin: 0;
}


p {
  font-family: alata;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

/* 
html,
body {
  max-width: 100vw !important;
  overflow-x: hidden !important;
} */

html {
  scroll-behavior: smooth;
}

body {
  background-color: transparent;
  position: relative;
  min-height: 100vh;
  max-width: 100vw;
  width: 100vw;
  color: var(--color-text);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  z-index: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

p {
  margin: 0;
}

#app {
  overflow-x: hidden;
}

/* REVIEW maybe you're looking for this>???!! background, background-image, searchbar fix, background image resizing resize */



.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url('./assets/img/spacebg.svg');
  background-size: cover;
  z-index: -1;
}

.bubble-edge {
  --mask: linear-gradient(to top, #0000 44px, #000 0),
    radial-gradient(44px, #000 98%, #0000) bottom/81.40px 88px;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}